#date {
  color: pink;
  font-family: monospace;
  font-weight: bold;
}

#time {
  color:pink;
  font-family: monospace;
}

#studyTimer {
  color: pink;
  font-family: monospace;
  font-weight: bold
}

#breakTimer {
  color: pink;
  font-family: monospace;
  font-weight: bold
}