@font-face {
    font-family: 'Pokemon Solid';
    src: url('fonts/Pokemon\ Solid.ttf');
}
body {
    font-family:'Courier New', Courier, monospace;
    background-color: #EAEBED;
}
.titleName {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 0.5rem;
}
#titleWord {
    font-family: 'Pokemon Solid';
    font-size: 2.5rem;
    color: #FFCE0A;
    -webkit-text-stroke-width: 3px; 
    -webkit-text-stroke-color: #1C57C4;
    text-shadow: 4px 4px #333;
}
#titleWord2 {
    font-family: 'Pokemon Solid';
    font-size: 1.5rem;
    color: #FFCE0A;;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #1C57C4;
    text-shadow: 2px 2px #333;
}

/* Navigation */
.navBar ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px;
    padding: 0;
    background-color: #1C57C4;
}
.navBar ul li a {
    display: block;
    color: #EAEBED;
    padding: 12px;
    text-decoration: none;
}
.navBar ul li a:hover {
    color: #0D0C1D;
    background-color: #F3CDE2;
}
.navBar ul li a.active {
    color: #0D0C1D;
    background-color: #D7E6FF;
    border-right: 2px solid #FFF4C2
}
.homeLayout{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    align-items: stretch;
}

/* Date & Timers */
.dateCard {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    /*background-color: #D7E6FF;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    */
}
.timerCard {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    /*background-color: #D7E6FF;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}
.buttonRow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.buttonRow button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* To-Do List */
#listHeader.header {
    background: #1C57C4;
    color: #EAEBED;
    padding: 1rem;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#listHeader h2 {
    margin: 0;
    text-align: center;
}
#listInput {
    padding: 0.75rem 1rem;
    border: 4px solid #D7E6FF;
    outline: none;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
#listInput:focus {
    border-color: #FFCE0A;
}
.addBtn {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    background: #CBF6DC;
    border: 4px solid #FFF4C2;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
}
.addBtn:hover {
  background: #F3CDE2;
}
#toDoList {
  list-style: none;
  padding: 0;
  margin: 16px;
  display: grid;
  gap: .5rem;
}
#toDoList li {
    padding: 0.75rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5rem;
}
.todo-checkbox {
    width: 18px;
    height: 18px;
    accent-color: #CC0000;
    cursor: pointer;
}
.todo-text {
    font-size: 1rem;
    color: #0D0C1D;
}
.todo-checkbox:checked + .todo-text {
    text-decoration: line-through;
    opacity: 0.6;
}
.close {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

.close:hover {
  background: rgba(204, 0, 0, 0.25);
}

/* If you add a "completed" class to the li in JS */
#toDoList li.completed .todo-text {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Pokemon Popup */
#pokemonPopup { 

}
#pokemonName { 

}
#pokemonSprite { 

}
#catchButton {

}
#releaseButton {

}


.message-box {
   margin-top: 1rem;
    padding: 0.75rem 1rem;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    color: #fff;
    background: rgba(255, 99, 132, 0.7);
    border-radius: 10px;
    display: none;
}
.message-box.show {
    display: block;
}

/* Pokedex CSS */
#typeFilter {
    border-radius: 8px;
    font-size: 1rem;
}
#pokedexCount {
    font-weight: bold;
}
#pokedexList {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 1rem;
}
.pokemon-card {
    background: #1C57C4;
    height: 200px;
    border-radius: 8px;
    border: 8px solid #FFCE0A;
    padding: .5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.pokemon-card img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 5px solid #FFCE0A;
    background-color: #EAEBED;
    object-fit: contain;
}
.pokemon-card p {
    color: #EAEBED;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}
.release-btn {
    float: inline-end;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
}
.release-btn:hover {
    background: #F3CDE2;
}
#clearPokedex {
    display: block;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    background: #CBF6DC;
    border: 4px solid #FFF4C2;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
}
#clearPokedex:hover {
    background: #F3CDE2;
}

/*MEDIA QUERY*/
@media (min-width: 700px) {

    #titleWord { 
        font-size: 4rem; 
        -webkit-text-stroke-width: 4px; 
    }
    #titleWord2 { 
        font-size: 2rem; 
    }
    .homeLayout {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .dateCard {
        width: 300px;
        max-width: none; 
    }
    .timerCard {
        width: 200px;
        max-width: none;
    }

    .navBar ul{
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 16px;
    }
    #pokedexList{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .buttonRow {
        flex-direction: row;  
        justify-content: center;
    }
    .buttonRow button {
    width: auto;      
  }
}
